@import '_mixins';
@import '_colors';

:host(.selected) {
	.container {
		background-color: $primary-green;
	}

	& * {
		color: $white;
	}
}

.container {
	cursor: pointer;
	user-select: none;
	display: flex;
	height: rem(75);
	padding: 10px;
}

.photo {
	width: rem(75);
}

.info {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;

	&__name {
		margin: 0;
		margin-bottom: rem(10);
	}

	&__name,
	&__job {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.icon {
	margin-left: rem(10);
}
