@import '_mixins';
@import '_colors';

:host(.selected) {
	.container {
		background-color: $primary-green;
	}

	& * {
		color: $white;
	}
}

.container {
	cursor: pointer;
	user-select: none;
	display: flex;
	height: rem(80);
	padding: 10px;
	padding-left: 20px;
}

.photo {
	width: rem(60);
	height: rem(60);
	border-radius: 500px;
	margin-right: 10px;
}

.info {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;

	&__name {
		margin: 0;
	}

	&__job {
		font-size: rem(15);
	}

	&__name,
	&__job {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.icon {
	margin-left: rem(10);
}
