// app colors
$primary-green: #76b735;

$text-gray: #818181;
$text-dark-gray: #414141;

$gray: #748290;
$light-gray: #dddddd;

$background-gray: #f1f1f1;
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$overlay-background: rgba(0, 0, 0, 0.1);
